{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div>
        <img src="/static/logo.png" style="width:250px;height:auto;" class="center">
        <div style="font-size: xx-large"><span class="red">E</span><span class="blue">-</span><span class="black">T</span><span class="green">₹</span><span class="black">ade</span>
    </div>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
